	<div class="container-contact100">
		<div class="wrap-contact100">

			<form method="post" action="/contacts" data-remote="true" class="contact100-form validate-form">
				<%= token_tag form_authenticity_token %>
				<%if flash.present?%>
					<% flash.each do |type, msg| %>
					<div class="alert alert-info">
							<ul>
									<li>
										<%= msg %> <br />
									</li>
							</ul>
						</div>
					<% end %>
				<% end %>
					<ul>
						<li><%= link_to 'English', root_path(locale: :en) %></li>
						<li><%= link_to 'Русский', root_path(locale: :ru) %></li>
					</ul>
				<span class="contact100-form-title">
					<%= t '.send_message' %>
				</span>

				<label class="label-input100" for="first-name"><%= t '.name' %> *</label>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
					<input id="first-name" class="input100" type="text" name="contact[first_name]" placeholder="<%= t '.first_name' %>" required>
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
					<input class="input100" type="text" name="contact[last_name]" placeholder="<%= t '.last_name' %>" required>
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email"><%= t '.email' %> *</label>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input id="email" class="input100" type="text" name="contact[email]" placeholder="Eg. example@email.com" required>
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="phone"><%= t '.phone_number' %></label>
				<div class="wrap-input100">
					<input id="phone" class="input100" type="tel" name="contact[phone_number]"  pattern="[7-9]{1}[0-9]{9}" placeholder="Eg. +1 800 000000" required>
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="message"><%= t '.message' %> *</label>
				<div class="wrap-input100 validate-input" data-validate = "Message is required">
					<textarea id="message" class="input100" name="contact[message]" placeholder="<%= t '.write_message' %>" required></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<%= t('global.forms.submit')%>
					</button>
				</div>
			</form>

			<div class="contact100-more flex-col-c-m" style="background-image: url('/assets/bg-01.jpg');">
				<div class="flex-w size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-map-marker"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							<%= t '.address' %>
						</span>

						<span class="txt2">
							Mada Center 8th floor, 379 Hudson St, New York, NY 10018 US
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-phone-handset"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							<%= t '.talk' %>
						</span>

						<span class="txt3">
							+1 800 1236879
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-envelope"></span>
					</div>
					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							<%= t '.support' %>
						</span>
						
						<span class="txt3">
							contact@example.com
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="loader"></div>
	<div id="dropDownSelect1"></div>
